html {
    scroll-behavior: smooth;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
a, a:visited {
    text-decoration: none;
}
a {
    color: inherit;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    border: 0px;
}
aside,
nav,
footer,
header,
section {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    object-fit: cover;
}

p {
    margin: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #2C2D35;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    background-color: #F4F6F5;;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.menu__btn {
    display: none;
    z-index: 15;
}
.menu__link--close {
    display: none;
}


/*======== header ===========*/

.header {
    padding: 31px 0;
    background-color: #E1EDE6;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header__logo {
    padding-right: 30px;
}
 
.menu__list {
    display: flex;
    gap: 60px; 
    margin-right: 60px;
}
.menu__link {
    font-size: 20px;
}
.menu__link {
    position: relative;
}
.menu__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #376B44;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.menu__link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.menu__item--cart {
    transition: all .3s;
    z-index: 5;
    display: flex;
}
.menu__item--cart:hover path {
    /* fill: #598D66; */
    transition: all .3s;
    stroke: #598D66;
}




.main__content-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.main__content {
    padding-bottom: 30px;
}
.main__content-box {
    max-width: 540px;
}
.main__content-img img {
    width: 100%;
}
.main__content-title {
    font-size: 60px;
    line-height: 110%; /* 66px */
    font-weight: 500;
    padding-bottom: 20px;
}
.main__content-title span {
    color: #598D66;
}
.main__content-text {
    color: #86928B;
    line-height: 150%; /* 27px */
    padding-bottom: 65px;
}
.main__content-button {
    border: 1px solid #598D66;
    padding: 20px 60px;
    transition: all .3s;
    font-size: 20px;
    line-height: normal;
    color: #598D66;
}
.main__content-button:hover {
    border: 1px solid #598D66;
    background-color: #598D66;
}
.main__content-button a {
    color: #598D66;
    font-size: 20px;
    line-height: normal;
}
.main__content-button:hover {
    color: #FFF;
}







.tabs {
    margin-bottom: 70px;
}
.tabs__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.tabs__items {
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
}
.tabs__top-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 110%; /* 44px */
}
.tabs__item {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #D4E8D9;
    color: #2C2D35;
    transition: all .3s;
}

/* .tabs__item:nth-child(1){
    margin-left: 0;
} */

.tabs__item--active {
    background-color: #376B44;
    color: #F4F6F5;
}
.tabs__content {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;

}

.tabs__content-item {
    height: 730px;
    width: 350px;
    background-color: #E1EDE6;
}
.tabs__content-item-box {
    padding: 20px;
}
.tabs__content-item-name {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 18px;
}
.tabs__content-item-title {
    color: #2C2D35;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 18px;
}
.tabs__content-item-materials {
    color: #2C2D35;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 37px;
}
.tabs__content-item-price {
    color: #598D66;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}
.tabs__content-item-button {
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 60px;
    border: 1px solid #598D66;
    transition: all .3s;
}
.tabs__content-item-button:hover {
    border: 1px solid #FAEB97;
    background-color: #FAEB97;
    color: #2C2D35;
}
.tabs__content {
    display: none;
}
.tabs__content--active {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    justify-content: center;
}






.promo {
    background-image: url(../images/collection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 70px;
}
.promo__inner {
    padding: 100px 0;
    
}
.promo__box {
    max-width: 540px;
}
.promo__title {
    color: #F4F6F5;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
    padding-left: 100px;
    padding-bottom: 30px;
    position: relative;
}
.promo__title::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    left: 5px;
    background-image: url(../images/Star\ 2.png);
    background-size: cover;
}
.promo__text {
    padding-bottom: 60px;
}
.promo__text p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    padding-bottom: 30px;
}
.promo__btn {
    color: #2C2D35;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 60px;
    background-color: #EEDB6D;
}


.team {
    margin-bottom: 70px;
}
.team__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__box {
    padding-left: 20px;
    padding-top: 76px;
}
.team__box-title {
    color: #2C2D35;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 44px */
    padding-bottom: 20px;
}
.team__box-text {
    max-width: 635px;
    color: #2C2D35;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    padding-bottom: 20px;
}
.team__box-photo {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}



.footer {
    background-color: #E1EDE6;
}
.footer__inner {
    display: grid;
    grid-template-areas: 'contacts menu-1 menu-2 menu-3 socials';
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    padding: 23px 0;
}

.footer__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
}
.logo {
    padding-bottom: 25px;
}
.phone {
    color: #2C2D35;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}
.footer__contacts-text {
    color: #86928B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__menu-1 {
    grid-area: menu-1;
}
.footer__menu-2 {
    grid-area: menu-2;
}
.footer__menu-3 {
    grid-area: menu-3;
}
.socials {
    grid-area: socials;
}
.footer__menu-title {
    color: #2C2D35;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 12px;
}
.footer__list {
    color: #86928B;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__menu-item {
    padding-bottom: 10px;
}
.footer__menu-link {
    padding-bottom: 12px;
}
.socials__box {
    display: flex;
    flex-direction: column;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.social {
    grid-area: socials;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 5px;
}
.socials-copy {
    color: #86928B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}
.socials-right {
    color: #86928B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}









@media (max-width: 1339px) {
    .menu__link {
        font-size: 18px;
    }

    padding-bottom: 30px;
    .main__content-title {
        font-size: 40px;
    }
    .main__content-text {
        padding-bottom: 30px;
    }
    .footer__inner {
        grid-template-areas: 'contacts contacts contacts contacts' 
        'menu-1 menu-2 menu-3 socials';
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 30px;
    }
    .footer__contacts {
        flex-direction: row;
        justify-content: space-between;
    }
}


@media (max-width: 1220px) {
    .tabs__content--active {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 30px;
    }
}
@media (max-width: 947px) {
    .tabs__content--active {
        display: grid;
        grid-template-columns: repeat(2, 330px);
        gap: 20px;
    }
    .tabs__content-item {
        height: 730px;
        width: 330px;
    }
    .tabs__content-item-img {
        width: 290px;
        height: 422px;
    }
    .main__content-title {
        font-size: 45px;
    }
    .main__content {
        padding-top: 42px;
    }
    .main__content-button {
        padding: 17px 50px;
    }
    .team__inner {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}



@media (max-width: 755px) {
    .header {
        padding: 17px 0 0;
    }
    .header__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        padding-bottom: 15px;
        position: relative;
    }
    .header__logo::before {
        content: '';
        position: absolute;
        top: 52px;
        width: 510px;
        height: 2px;
        background-color: #C3D1C6;
        left: -170px;
    }
    .header__menu {
        padding: 16px 15px;
        padding-top: 15px;
    }
    .menu {
        font-size: 18px;
    }
    .menu__link {
        font-size: 18px;
    }
    .tabs__item {
        padding: 7px 18px;
        font-size: 15px;
    }
    .tabs__content--active {
        display: grid;
        grid-template-columns: repeat(2, 240px);
        gap: 20px;
    }
    .tabs__content-item-img {
        width: 200px;
        height: 250px;
    }
    .tabs__content-item {
        height: 514px;
        width: 240px;
    }
    .tabs__content-item-name {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .tabs__content-item-title {
        color: #2C2D35;
        font-size: 24px;
        padding-bottom: 8px;
    }
    .tabs__content-item-materials {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .tabs__content-item-button {
        color: #598D66;
        font-size: 18px;
        font-weight: 500;
        padding: 17px 57px;
        border: 1px solid #598D66;
        transition: all .3s;
    }
    .tabs__top-title {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .main__content-title {
        margin-bottom: 11px;
        font-size: 36px;
    }
    .main__content-text {
        font-size: 16px;
    }
}



@media (max-width: 689px) {
    .footer__inner {
        grid-template-areas: 'contacts contacts contacts' 
        'menu-1 menu-2 menu-3'
        'socials socials socials';
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }
    .footer__contacts {
        flex-direction: row;
        justify-content: space-between;
    }
    .socials {
        align-items: center;
        border-top: 1px solid #86928B;
        padding-top: 16px;
    }
    .promo {
        background-position: calc(50% - 50px) 50%;
    }
    .promo__inner {
        padding: 70px 0;
    }
    .promo__title {
        font-size: 30px;
    }
    .promo__text {
        padding-bottom: 30px;
    }
    .team__inner {
        display: block;
    }
}





@media (max-width: 654px) {
    .promo__title {
        font-size: 24px;
    }
    .promo__text p {
        font-size: 16px;
    }
    .promo__inner {
        padding: 50px 0;
    }
    .promo__title {
        padding-left: 70px;
    }
    
    .promo__title::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: 5px;
        background-image: url(../images/Star\ 2.png);
    }
    .promo__text p {
        padding-bottom: 12px;
    }
    .promo__text {
        padding-bottom: 25px;
    }
    .promo__btn {
        color: #2C2D35;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 19px 49px;
        background-color: #EEDB6D;
    }
}



@media (max-width: 585px) {
    .tabs__top-title {
        padding-bottom: 20px;
    }
}


@media (max-width: 556px)  {
    .tabs__content--active {
        display: grid;
        grid-template-columns: repeat(1, 290px);
        gap: 20px;
    }
    .tabs__content-item-img {
        width: 250px;
        height: 250px;
    }
    .tabs__content-item {
        height: 514px;
        width: 290px;
    }
}

@media (max-width: 509px) {
    .footer__inner {
        grid-template-areas:'contacts menu-1'
        'menu-2 menu-3'
        'socials socials';
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
    .footer__contacts {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__menu-1 {
        grid-area: menu-1;
        padding-top: 70px;
    }
    .team__inner img {
        max-width: 90vw;
    }
}


@media (max-width: 500px) {
    .header__menu {
        background-color: #598D66;
        width: 100%;
        justify-content: space-between;
    }
    .header {
        background-color: #fff;
    }
    .header__logo::before {
        display: none;
    }
    .header__menu {
        position: relative;
    }
    .header__menu::after {
        content: "";
        position: absolute;
        left: -15px;
        right: -15px;
        height: 100%;
        z-index: 0;
        background-color: #C3D1C6;
    }
    .menu__item--cart svg {
        width: 35px;
        height: 35px;
    }
    .menu__btn {
        display: block;
        width: 23px;
        height: 35px;
        line-height: 2px;
        position: relative;
        border: none;
        padding: 0;
        z-index: 105;
        color: #4c5866;
        background-color: transparent;
        cursor: pointer;
        transform: translateX(5px);
    }
    .menu__btn span {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }
    .menu__btn::after,
    .menu__btn::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    
    .menu__btn::after {
        top: calc(100% - 11px);
    }
    .menu__btn.active span {
        transform: scale(0);
    }
    .menu__btn.active::before {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu__btn.active::after {
        top: 50%;
        transform: rotate(-45deg);
    }

    .menu__list {
        background-color: #D4E8D9;
        width: calc(100% + 30px);
        position: absolute;
        left: -15px;
        right: 0px;
        cursor: pointer;
        z-index: 11;
        padding: 20px;
        top: 0;
        height: 100vh;
        padding-top: 76px;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
        display: block;
    }

    .menu__list.menu__list--active {
        transform: none;
    } 
    .menu__item {
        padding-bottom: 30px;
    }
    .menu__item--cart svg {
        width: 25px;
        height: 25px;
    }
    .menu__link--close {
        display: block;
    }
    .menu__link--close::before {
        display: none;
    }
    .main__content-title {
        font-size: 30px;
    }
    .main__content-text {
        font-size: 14px;
    }
    .main__content-img {
        display: none;
    }
    .tabs__item {
        margin-right: 5px;
    }
    .tabs__items {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
    }
}


@media (max-width: 375px)  {
    .team__box-photo {
        gap: 10px;
    }
}

